<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Playonomics</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                     
    </head>
    <body>
        
        <div class="login-container lightmode">
            <label class="lable login-trial"> 7 day free trial business owner and recruiters </label>
            <div class="login-box animated fadeInDown">
                <div class="login-body">
                    <div class="login-logo-title"> Playonomics</div>
                    <div class="login-title" style="font-size: 1em;"> A collaborative platform for recruiter, <br/> employers, researchers and job seekers</div>
                    <div class="login-title" style="color: red; font-size: 1em;"><i><%= message %></i></div>
                    <form action="/auth/login" id="login-form" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class=" form-control" placeholder="E-mail" name="email" />
                            <span class="help-block">Required email</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" class="validate[required,minSize[5],maxSize[10]] form-control" placeholder="Password" name="password" id="password2" />
                            <span class="help-block">Required, min size = 5, max size = 10</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-7">
                                <p style="font-size: 1.2rem;"> Are you a Recruiter?  </p>
                            </div>
                            <div class="col-md-5">
                                <input type="radio" name="user_type" class="iradio" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <p style="font-size: 1.2rem;"> Are you a Business Owner?  </p>
                            </div>
                            <div class="col-md-5">
                                <input type="radio" name="user_type" class="iradio" />
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-md-7">
                                <p style="font-size: 1.2rem;"> Are you a Job Seeker?  </p>
                            </div>                            
                            <div class="col-md-5">
                                <input type="radio" name="user_type" class="iradio" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="row text-center">
                            <div class="col-md-3" style="color: transparent;">
                                .
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-info btn-block" href="/auth/signup" >Sign Up</a>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-bottom: 5px;margin-top: 4px;">
                            <div class="col-md-3" style="color: transparent;">
                                .
                            </div>
                            <div class="col-md-6">
                                <span class="label label-default">OR</span>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-3" style="color: transparent;">
                                .
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-info btn-block" type="submit" >Sign In</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-3" style="color: transparent;">
                                .
                            </div>
                            <div class="col-md-6">
                                <label class="check"> <input type="checkbox" class="icheckbox" /> Remember Me? </label>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2017 Playonomics
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>
    
        <!-- START PLUGINS -->
        <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>

        <script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

        <script type='text/javascript' src='/js/plugins/validationengine/languages/jquery.validationEngine-en.js'></script>
        <script type='text/javascript' src='/js/plugins/validationengine/jquery.validationEngine.js'></script>        

        <script type='text/javascript' src='/js/plugins/jquery-validation/jquery.validate.js'></script>

        <!-- START TEMPLATE -->
        <!-- <script type="text/javascript" src="/js/settings.js"></script> -->
        
        <script type="text/javascript" src="/js/plugins.js"></script>
        <script type="text/javascript" src="/js/actions.js"></script>
        <!-- END TEMPLATE -->

        <script type="text/javascript" src="/js/auth/login.js"></script>
    </body>
</html>






