<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>Playonomics</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                      
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="index.html">Playonomics Admin</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="<%= user.image%>"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="<%= user.image%>"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name"><%= user.first_name %> <%= user.last_name%> </div>
                                <div class="profile-data-title">Administrator</div>
                            </div>
                            <div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div>
                        </div>
                        <li>
                            <a href="/index"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>                        
                        </li>
                        <li class="xn-openable">
                            <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Pages</span></a>
                            <ul>
                                <li><a href="/timeline/index"><span class="fa fa-clock-o"></span> Timeline</a></li>
                                <li class="xn-openable">
                                    <a href="#"><span class="fa fa-file"></span> Projects</a>
                                    <ul>                                    
                                        <li class=""><a href="/projects/index"><span class="fa fa-copy"></span> List of Posts</a></li>
                                        <li><a href="/projects/create"><span class="fa fa-file-o"></span>Create Project</a></li>
                                    </ul>
                                </li>
                                <li><a href="/games/index"><span class="fa fa-gamepad"></span> Game</a></li>
                            </ul>
                        </li>
                        <li><a href="/messages/index"><span class="fa fa-comments"></span> Messages</a></li>
                        <li><a href="/search/index"><span class="fa fa-search"></span> Search</a></li>
                        <li class="xn-openable active">
                            <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Settings</span></a>
                            <ul>
                                <li class="active"><a href="/settings/profile">Profile</a></li>
                            </ul>
                        </li>                                                                           
                    </li>
                    
                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
                    </li> 
                    <!-- END SIGN OUT -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->                    
                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Profile</li>
                </ul>
                <!-- END BREADCRUMB -->                                                
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <div class="row">
                        <div class="col-md-3">
                            
                            <div class="panel panel-default">
                                <div class="panel-body profile" style="background: url('/assets/images/gallery/music-4.jpg') center center no-repeat;">
                                    <div class="profile-image">
                                        <img src="<%= user.image%>"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name"><%= user.first_name %> <%= user.last_name%> </div>
                                        <div class="profile-data-title" style="color: #FFF;">Sync Administrator</div>
                                    </div>
                                    <div class="profile-controls">
                                        <a href="#" class="profile-control-left twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="profile-control-right facebook"><span class="fa fa-facebook"></span></a>
                                    </div>                                    
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-info btn-rounded btn-block"><span class="fa fa-check"></span> Following</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary btn-rounded btn-block"><span class="fa fa-comments"></span> Chat</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body list-group border-bottom">
                                    <% if (menu == 'activity') { %> 
                                        <a href="/settings/profile" class="list-group-item active"><span class="fa fa-bar-chart-o"></span> Activity</a>
                                    <% } else { %> 
                                        <a href="/settings/profile" class="list-group-item"><span class="fa fa-bar-chart-o"></span> Activity</a>
                                    <% } %>

                                    <% if (menu == 'groups') { %> 
                                        <a href="/settings/groups" class="list-group-item active"><span class="fa fa-coffee"></span> Groups </a>
                                    <% } else { %> 
                                        <a href="/settings/groups" class="list-group-item"><span class="fa fa-coffee"></span> Groups </a>
                                    <% } %>                                   
                                    

                                    <% if (menu == 'settings') { %> 
                                        <a href="/settings/settings" class="list-group-item active"><span class="fa fa-cog"></span> Settings</a>
                                    <% } else { %> 
                                        <a href="/settings/settings" class="list-group-item"><span class="fa fa-cog"></span> Settings</a>
                                    <% } %>
                                </div>
                            </div>                            
                            
                        </div>
                        
                        <% if(menu == 'activity') { %>
                        <div class="col-md-9">

                            <!-- START TIMELINE -->
                            <div class="timeline timeline-right">
                                
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-main">
                                    <div class="timeline-date">2017</div>
                                </div>
                                <!-- END TIMELINE ITEM -->                                                  
                                <% acts.forEach(function(act){ %>
                                <!-- START TIMELINE ITEM -->
                                <div class="timeline-item timeline-item-right">
                                    <div class="timeline-item-info"><%= act.date%></div>
                                    <div class="timeline-item-icon"><span class="fa fa-users"></span></div>                                   
                                    <div class="timeline-item-content">
                                        <div class="timeline-heading" style="padding-bottom: 10px;">
                                            <%= act.title %>
                                        </div>                                        
                                            <h4><%= act.title %></h4>
                                            <p><%= act.activity%></p> 
                                    </div>                                    
                                </div>       
                                <!-- END TIMELINE ITEM -->
                                <% })%>                                
                            </div>
                            <!-- END TIMELINE -->                            
                            
                        </div>
                        <% } %>

                        <% if(menu == 'groups') { %>
                        <div class="col-md-9">
                            <% users.forEach(function(u){ %>
                                <div class="col-md-3">
                                <!-- CONTACT ITEM -->
                                    <div class="panel panel-default">
                                        <div class="panel-body profile">
                                            <div class="profile-image">
                                                <img src="<%= user.image%>" alt="Nadia Ali"/>
                                            </div>
                                            <div class="profile-data">
                                                <div class="profile-data-name"><%= u.firstname%> <%= u.lastname%></div>
                                            </div>
                                            <div class="profile-controls">
                                                <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                                <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                            </div>
                                        </div>                                
                                        <div class="panel-body">
                                            <div class="contact-info">
                                                <!-- <p><small>Mobile</small><br/>(555) 555-55-55</p> -->
                                                <p><small>Email</small><br/><%= u.email%></p>
                                                <!-- <p><small>Address</small><br/>123 45 Street San Francisco, CA, USA</p>                                    -->
                                            </div>
                                        </div>                                
                                    </div>
                                <!-- END CONTACT ITEM -->
                                </div>
                            <% })%>
                        </div>
                        <% } %>

                        <% if(menu == 'settings') { %>
                        <div class="col-md-9">
                            
                            
                            <form class="form-horizontal" name="profileform" id="profile-form" action="/settings/settings" method="POST" enctype="multipart/form-data">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Profile Settings</strong></h3>
                                    <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul>
                                </div>

                                
                                <div class="panel-body">
                                    <% if (message != '') { %> 
                                    <div class="form-group">
                                        <label class="col-md-6 col-xs-12 control-label">
                                            <%= message%>
                                        </label>
                                    </div>
                                    <% } %>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">First Name</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <div>
                                                <input type="text" class="form-control" name="first_name" value="<%= user.first_name%>"/>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Last Name</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <div>
                                                <input type="text" class="form-control" name="last_name" value="<%= user.last_name%>"/>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Email Address</label>
                                        <div class="col-md-6 col-xs-12">                                            
                                            <input type="text" class="form-control" name="email" value="<%= user.email%>"/>
                                        </div>
                                    </div>

                                    <div class="form-group">                                        
                                        <label class="col-md-3 col-xs-12 control-label">Password</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="password" class="form-control" name="password" id="password"/>
                                            </div>            
                                        </div>
                                    </div>

                                    <div class="form-group">                                        
                                        <label class="col-md-3 col-xs-12 control-label">Confirm Password</label>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="password" class="form-control" name="confirm_password"/>
                                            </div>            
                                        </div>
                                    </div>
                                    
                                     <div class="form-group">
                                        <label class="col-md-3 control-label">Education Level</label>
                                        <div class="col-md-6 col-xs-12">
                                            <select class="form-control" name="education_level" value="<%= user.education_level%>">
                                                <option value="middle_school">Middle School</option>
                                                <option value="high_school">High School</option>
                                                <option value="associates">Associates</option>
                                                <option value="bachelors">Bachelors</option>
                                                <option value="masters">Masters</option>
                                                <option value="phd">Doctor of Philosophy</option>
                                                <option value="na">National Academy of Science</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">Profile Image</label>
                                        <div class="col-md-6 col-xs-12">    
                                            <input type="file" class="fileinput btn-primary" id="filename" title="Browse file" name="image"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-default">Clear Form</button>
                                    <button class="btn btn-primary pull-right" type="submit">Submit</button>
                                </div>
                            </div>
                            </form>
                            
                        

                            
                        </div>
                        <% } %>

                    </div>

                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                                 
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="/auth/logout" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- BLUEIMP GALLERY -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>      
        <!-- END BLUEIMP GALLERY -->        
        
        <!-- START PRELOADS -->
        <audio id="audio-alert" src="/audio/alert.mp3" preload="auto"></audio>
        <audio id="audio-fail" src="/audio/fail.mp3" preload="auto"></audio>
        <!-- END PRELOADS -->          
        
    <!-- START SCRIPTS -->
        <script type="text/javascript" src="/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap.min.js"></script>                
        <!-- END PLUGINS -->
        
        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src='/js/plugins/icheck/icheck.min.js'></script>
        <script type="text/javascript" src="/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        
        <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-datepicker.js"></script>                
        <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script type="text/javascript" src="/js/plugins/bootstrap/bootstrap-select.js"></script>
        <script type="text/javascript" src="/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
        <script type='text/javascript' src='/js/plugins/validationengine/languages/jquery.validationEngine-en.js'></script>
        <script type='text/javascript' src='/js/plugins/validationengine/jquery.validationEngine.js'></script>        

        <script type='text/javascript' src='/js/plugins/jquery-validation/jquery.validate.js'></script>
        
        <script type="text/javascript" src="/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>        
        <!-- END THIS PAGE PLUGINS-->        

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="/js/settings.js"></script>
        <script type="text/javascript" src="/js/plugins.js"></script>        
        <script type="text/javascript" src="/js/actions.js"></script>

        <script type="text/javascript" src="/js/settings/settings.js"></script>
        <!-- END TEMPLATE -->

        <script>            
            // document.getElementById('links').onclick = function (event) {
            //     event = event || window.event;
            //     var target = event.target || event.srcElement,
            //         link = target.src ? target.parentNode : target,
            //         options = {index: link, event: event,onclosed: function(){
            //             setTimeout(function(){
            //                 $("body").css("overflow","");
            //             },200);                        
            //         }},
            //         links = this.getElementsByTagName('a');
            //     blueimp.Gallery(links, options);
            // };
        </script>        
        
    <!-- END SCRIPTS -->         
    </body>
</html>






